---
slidesTab: "nav__tab--current"
---

{% extends "./layouts/base.njk" %}

{% block main %}

<div class="contentFrame">
  <div class="desktopScrollbarBuffer"></div>
  <div id="slides-page" class="page">
    <div id="slides-page" class="page">
      {% for slide in slides %}
      <a href="{{ slide.paths.dhref }}">
        <div class="entryBox entryBox--slides">
          <h1 class="entryBox__title">{{ slide.title }}</h1>
          <p class="entryBox__subtitle">{{ slide.date }} — {{ slide.wordCount }} words, ~{{ slide.readingTime }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
