/**********/
/* GLOBAL */
/**********/

/* make all box-sizes include respective paddings and borders, but also but allow inheritance 
* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* 'Fluid typography' → https://css-tricks.com/snippets/css/fluid-typography/
 * font-size: calc([min size] + ([max size] - [min size]) * ((100vw - [min viewport width]) / ([max viewport width] - [min viewport width]))) */
html {
  font-size: calc(16px + 4.5 * ((100vw - 320px) / 1200));
}

/* other global defaults */
html {
  color: darkslategray;
  background-color: whitesmoke;
  font-family: Roboto, 'FiraSans', Sans;
}

/*************/
/* ELEMENTAL */
/*************/

body {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 530px) {
  body {
    flex-direction: row;
  }
}

p, li {
  line-height: 1.36;
}

a {
  color: darkslategray;
  font-family: inherit;
  cursor: pointer;
}

a:hover, a:active {
  color: darkturquoise;
}

/* inline code, from markdown `code` */
code {
  color: black;
  background-color: lightgray;
  border-radius: 0.25rem;
  padding: 0 0.15rem 0 0.15rem;
}

/* block code, from markdown ``` construction */
pre code {
  display: inline-block;
  background-color: black;
  color: white;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

code.language-bash::before {
  content: "$ ";
  color: gray;
  background-color: none;
}

/**********/
/* CLASSY */
/**********/

.nav {
  display: flex;
  align-items: flex-end;
  order: 1;
  position: fixed; /* need to used fixed until stuff sorted out https://mind-bending-forks.github.io/css-viewport-percentage-length-units/ */
  bottom: 0;
  width: 100%;
  height: 3rem;
  border: 0.25rem;
  overflow: auto;
  background-image: linear-gradient(transparent, whitesmoke 20%, whitesmoke);  
}

@media only screen and (min-width: 530px) {
  .nav {
    flex-direction: column;
    order: 0;
    position: sticky;
    top: 3rem;    
    width: 100%;
    height: 100%;
    margin-left: calc(100vw - 100%);
  }
}

.flexGrower {
  width: 100%;
}

  .nav__tab /* i.e. unpressed */ { 
    font-size: 1.25rem;
    padding: 0.125rem;
    text-decoration: none;
    margin: 0.25rem;
  }

  .nav__tab--current, .nav__tab:hover, .nav__tab:active {
    background-color: teal;
    color: whitesmoke;
    border-radius: 0.25rem;
  }

/* the outermost 'frame' */
.page {
  display: flex;
  justify-content: center; /* since default direction is 'row' */
}

.page__content > :first-child {
  display: block; /* because `a` is inline */
  margin-top: 3rem; /* initial content alignment with nav */
}

@media only screen and (min-width: 530px) {
  .page {
    height: initial;
  }
}

.page__content {
  max-width: 100%;
  width: 30rem;
  margin: auto;
  padding: 0 2rem 3rem 2rem;
}

.page p img {
  width: 100%
}

.page--post {
  margin-top: 0;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.linkbar {
  display: flex;
  width: 100%;
  justify-content: center;
}

  .linkbar__entry {
    text-align: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .linkbar__entry * {
    margin-bottom: 0;
  }

.image {
  display: block;
  margin: auto;
  max-width: 50%;
}

  .image--profilePic {
    width: 50%;
    max-width: 12.5rem;
    border-radius: 50%;
    border: 5px solid teal;
  }
  
.icon, .svg-inline--fa {
  height: 2rem;
  fill: darkslategray;
}

  .icon--tech {
    height: 1rem;
  }

.entryBox {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}

  .entryBox--posts {
    margin: 1rem 0 0 0;
  }  

  .entryBox__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
  }

  .entryBox__subtitle {
    font-size: 1.1rem;
    font-weight: lighter;
    font-family: 'FiraSans', Sans;
    margin: 0;
  }

.backButton {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(whitesmoke 50%, transparent 65%)
}

.backButton .svg-inline--fa {
  height: 60%;
}
