/**********/
/* GLOBAL */
/**********/

/* make all box-sizes include respective paddings and borders, but also but allow inheritance 
* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* 'Fluid typography' → https://css-tricks.com/snippets/css/fluid-typography/
 * font-size: calc([min size] + ([max size] - [min size]) * ((100vw - [min viewport width]) / ([max viewport width] - [min viewport width]))) */
html {
  font-size: calc(16px + 4.5 * ((100vw - 320px) / 1200));
}

/* other global defaults */
html {
  color: darkslategray;
  background-color: whitesmoke;
  font-family: Roboto, 'FiraSans', Sans;
}

/*************/
/* ELEMENTAL */
/*************/

body {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 530px) {
  body {
    flex-direction: row;
  }
}

p, li {
  line-height: 1.36;
}

a {
  color: darkslategray;
  font-family: inherit;
  cursor: pointer;
}

a:hover, a:active {
  color: darkturquoise;
}

/* inline code, from markdown `code` */
code {
  padding: 0 0.15rem 0 0.15rem;
  border-radius: 0.25rem;
  background: lightgray;
  color: black;
}

/* block code, from markdown ``` construction */
pre code {
  display: inline-block;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: black;
  color: white;
  overflow-wrap: anywhere;  
  white-space: pre-wrap;
}

code.language-bash::before {
  content: "$ ";
  background: none;  
  color: gray;
}

/**********/
/* CLASSY */
/**********/

.nav {
  position: fixed; /* need to used fixed until stuff sorted out https://mind-bending-forks.github.io/css-viewport-percentage-length-units/ */
  bottom: 0;
  display: flex;
  align-items: flex-end;
  order: 1;
  overflow: auto;  
  width: 100%;
  border-top: teal solid 0.25rem;
  background: whitesmoke;
/*
  background-image: linear-gradient(transparent, whitesmoke 20%, whitesmoke);
*/
}

@media only screen and (min-width: 530px) {
  .nav {
    position: sticky;
    top: 3rem;    
    flex-direction: column;
    order: 0;
    width: 100%;
    height: 100%;
    padding-right: 2rem;
    border-right: teal solid 0.25rem;
    border-top: initial;
    margin-left: calc(100vw - 100%); /* to prevent scrollbar related jumping */
  }
}

  .nav__tab /* i.e. unpressed */ {
    padding: 0.25rem;
    border: teal solid 0.125rem;
    border-radius: 0.25rem;
    margin: 0.25rem 0 0.25rem 0.25rem;    
    font-size: 1.25rem;
    text-decoration: none;
  }

  .nav__tab--current, 
  .nav__tab:hover, 
  .nav__tab:active {
    background: teal;
    color: whitesmoke;
  }

/* the outermost 'frame' */
.page {
  display: flex;
  flex-direction: column;
  width: 35rem;
  max-width: 100%;
  padding: 0 2rem 3rem 2rem;
  margin: auto;
}

/* remove margin from top page content */
.page > :first-child {
  display: block; /* because `a` is inline */
  margin-top: 3rem; /* initial content alignment with nav */
}

.page p img {
  width: 100%
}

.page * {
    margin-top: 0; /* remove top margins, because margin collapsing no worky in flex */
}

.page--post {
  margin-top: 0;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.page__side {
  width: 100%;
  flex-shrink: 15;
}

.linkbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

  .linkbar__entry {
    padding: 0 0.75rem;
    text-align: center;
    text-decoration: none;
  }

  .linkbar__entry * {
    font-size: 0.75rem;
    line-height: 0.75;
  }
  
.linkbar * svg {
  height: 2rem;
  fill: darkslategray;
}

.linkbar--site * svg {
  height: 1rem;
  margin: 0 1rem 0 0.5rem;
}

.linkbar--site a {
 display: flex;
 align-items: center;
 margin: 0.25rem;
}

video {
  border: teal 2px solid;
  border-radius: 0.25rem;
}

@media only screen and (min-width: 530px) {
  video {
    align-self: center;
    width: 75vw;
  }
}
  
.image {
  width: 50%;
  align-self: center;
  margin-bottom: 1rem;
}

  .image--profilePic {
    max-width: 12.5rem;
    border: 5px solid teal;
    border-radius: 50%;
  }

  .icon--tech {
    height: 1rem;
  }

.entryBox {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  .entryBox--posts {
    margin: 1rem 0 0 0;
  }  

  .entryBox__title {
    margin: 0px 0px 10px 0px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .entryBox__subtitle {
    margin: 0;
    font-family: 'FiraSans', Sans;
    font-size: 1.1rem;
    font-weight: lighter;
  }

.backButton {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-image: radial-gradient(whitesmoke 50%, transparent 65%)
}

.backButton .svg-inline--fa {
  height: 60%;
}
