/************/
/* VARIABLE */
/************/

/* font stacks from https://github.com/csstools/sanitize.css/blob/master/typography.css */
:root {
  --sans:
    system-ui,
    /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ "Segoe UI",
    /* Android 4+ */ "Roboto",
    /* Ubuntu 10.10+ */ "Ubuntu",
    /* Gnome 3+ */ "Cantarell",
    /* KDE Plasma 5+ */ "Noto Sans",
    /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";

--serif: 
  charter,
  Georgia,
  Cambria,
  "Times New Roman",
  Times, serif; 

--mono:
    /* macOS 10.10+ */ "Menlo",
    /* Windows 6+ */ "Consolas",
    /* Android 4+ */ "Roboto Mono",
    /* Ubuntu 10.10+ */ "Ubuntu Monospace",
    /* KDE Plasma 5+ */ "Noto Mono",
    /* KDE Plasma 4+ */ "Oxygen Mono",
    /* Linux/OpenOffice fallback */ "Liberation Mono",
    /* fallback */ monospace,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";

}

.sans {
  font-family: var(--sans);
}

.serif {
  font-family: var(--serif);
}

.mono {
  font-family: var(--mono);
}

/**********/
/* GLOBAL */
/**********/

/* 'Fluid typography' → https://css-tricks.com/snippets/css/fluid-typography/
 * font-size: calc([min size] + ([max size] - [min size]) * ((100vw - [min viewport width]) / ([max viewport width] - [min viewport width]))) */
html {
  font-size: calc(16px + 4.5 * ((100vw - 320px) / 1200));
}

/* other global defaults */
html {
  color: darkslategray; /* because who likes black? */
  background-color: aliceblue; /* ... or white? */
  font-family: var(--sans);
}

/*************/
/* ELEMENTAL */
/*************/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 530px) {
  body {
    flex-direction: row;
  }
}

/* decrease line-height, because otherwise wrapping looks weird */
h1, h2, h3 {
  line-height: 1.1;
}

a {
  color: darkslategray; /* i.e. keep color once clicked */
  cursor: pointer;
}

a:hover, a:active {
  color: darkturquoise;
}

/* inline code, from markdown `code` construction */
code {
  padding: 0 0.15rem;
  border-radius: 0.25rem;
  background: lightgray;
  color: black;
  font-family: var(--mono);
}

/* block code, from markdown ``` construction */
pre code {
  display: inline-block;
  padding: 0.5rem;
  background: black;
  color: white;
  overflow-wrap: anywhere;  
  white-space: pre-wrap;
}

code.language-bash::before {
  content: "$ ";
  background: none;  
  color: gray;
}

video {
  border: teal 2px solid;
  border-radius: 0.25rem;
}

@media only screen and (min-width: 530px) {
  video {
    align-self: center;
    width: 75vw;
  }
}

/**************/
/* STRUCTURAL */
/**************/

.scrollBuffer {
  margin-left: calc(100vw - 100%); /* prevent scrollbar related jumping */;
}

nav {
  position: fixed; /* 'fixed' required until vw units fixed https://mind-bending-forks.github.io/css-viewport-percentage-length-units/ */
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background: teal;
  box-shadow: gray 0 0 1rem;
}

@media only screen and (min-width: 530px) {
  nav {
    position: sticky;
    top: 5rem;
    bottom: initial;     
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
    width: initial;
    height: 100%;    
    padding: 1rem;
    padding-right: 0;
    border-radius: 0.25rem 0 0 0.25rem;
    margin-left: 1rem;
    color: whitesmoke;
    box-shadow: 
      gray -0.25rem 0.25rem 0.5rem, 
      inset darkslategray -0.5rem 0 0.5rem -0.25rem;
  }
}

  .nav__tab /* i.e. unpressed */ {
    padding: 0.25rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: whitesmoke;
    background-color: cadetblue;
    border-radius: 1rem 0 0 1rem;
  }

  .nav__tab--current, 
  .nav__tab:hover, 
  .nav__tab:active {
    text-shadow: 
      currentColor -0.025rem 0 0, 
      currentColor 0.025rem 0 0, 
      currentColor 0 -0.025rem 0, 
      currentColor 0 0.025rem 0;
  }

/* the outermost 'frame' */
main, article {
  display: flex;
  flex-direction: column; /* note: flex disables margin-collapse of text, see `.page *` */
  max-width: 35rem;
  min-width: min-content; /* to prevent content flowing off */
  margin: 1rem 1rem 3rem 1rem;
  box-shadow: gray -0.25rem 0.25rem 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background: whitesmoke;
}

/* add margin to align first  page item with first nav tab nav */
@media only screen and (min-width: 530px) {
  main, article {
    margin: 2.5rem 1rem 3rem 0;
  }
}

main *, article * {
    margin-top: 0; /* remove top margins, because margin collapsing no worky in flex */
    max-width: 100% /* prevent things (e.g. images) from overflowing */
}

.linkbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.linkbar__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 0.75;
}
  
.linkbar__entry--site {
  flex-direction: row;
  align-items: center;
}
  
.linkbar * svg {
  height: 2.5rem;
  margin: 0.25rem;
  fill: darkslategray;
}

.linkbar--site * svg {
  height: 1rem;
}

/* Possibly superfluous */
.image {
  width: 50%;
  align-self: center;
  margin-bottom: 1rem;
}

  .image--profilePic {
    max-width: 12.5rem;
    border: 5px solid teal;
    border-radius: 50%;
  }

.backButton {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-image: radial-gradient(whitesmoke 50%, transparent 65%)
}

.backButton .svg-inline--fa {
  height: 60%;
}

.small-mono {
  font-family: var(--mono);
  font-size: 0.75rem;
}

/**********/
/* ATOMIC */
/**********/

.noTxtDec {
  text-decoration: none;
}

.noTopMargin {
  margin-top: 0;
}

.noBottomMargin {
  margin-bottom: 0;
}

.alignSelfFlexStart {
  align-self: flex-start;
}
