/*‾‾‾‾‾‾‾‾*/
/*  Font  */
/*________*/

/* Have a lot of love for Hyperlegible, but a bit too mechanical */
/* @font-face {
  font-family: "AtkinsonHyperlegibleNext";
  src:
    local("Atkinson Hyperlegible Next"),
    local("Atkinson Hyperlegible"),
    url("/assets/font/AtkinsonHyperlegibleNext-VariableFont_wght.ttf")
      format("truetype"),
    url("/assets/font/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf")
      format("truetype");
} */

body {
  font-family: "Charter";
  font-size: clamp(
    1.1em,
    1em + 0.43vw,
    3em
  ); /* https://css-tricks.com/simplified-fluid-typography/ */
  word-break: break-word;
  color: darkslategray; /* because who likes black? */
}

/*‾‾‾‾‾‾‾‾‾‾‾*/
/*  General  */
/*___________*/

body,
main,
article,
figure,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main {
  padding: 1rem 1rem 3rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figcaption,
p,
ol,
ul,
li,
pre,
code,
hr {
  width: 42rem;
  max-width: 100%; /* prevent text runoff */
  text-align: center;
}

p,
ol,
ul,
li {
  text-align: left;
}

p {
  margin-bottom: 0;
}

blockquote p {
  border-left: solid 2px black;
  padding-left: 1rem;
  margin: 0;
}

a {
  color: darkslategray; /* i.e. keep color once clicked */
  cursor: pointer;
}

a:hover,
a:active {
  color: darkturquoise;
}

img {
  max-width: 90vw;
  max-height: 90vh;
}

table {
  margin: 2rem 0 1rem 0;

  td,
  th {
    border: solid;
    padding: 0.5rem;
  }

  th {
    background-color: lightgray;
  }

  caption {
    /* i.e. table caption */
    caption-side: bottom;
    margin-top: 0.33rem;
  }
}

/* inline code, from markdown `code` construction */
code {
  padding: 0 0.15rem;
  border-radius: 0.25rem;
  background: lightgray;
  color: black;
}

/* block code, from markdown ``` construction */
pre code {
  display: block;
  padding: 0.5rem;
  background: black;
  color: white;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  text-align: left;
}

/* to prefix $ in bash in a way that isn't selected on tripple click */
code.language-bash::before {
  content: "$ ";
  background: none;
  color: gray;
}

/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/
/*  Navigation bar  */
/*__________________*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: lightblue;
  gap: 0.5rem;
  padding: 0.5rem;

  a /* i.e. unpressed */ {
    padding: 0 0.5rem 0 0.5rem;
    font-size: clamp(1.2em, 1em + 0.43vw, 4em);
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 0.25rem;
  }

  a:hover,
  a:active,
  .nav__tab--current {
    color: aliceblue;
    background-color: teal;
  }
}

/*‾‾‾‾‾‾‾‾‾‾‾‾*/
/*  homepage  */
/*____________*/

main.home {
  p {
    margin-top: 4rem;
    text-align: center;
    width: 36rem;
  }
}

.image--profilePic {
  width: 20rem;
  max-width: 75vw;
  border: 5px solid teal;
  border-radius: 50%;
  margin: 2rem 0;
}

.linkbar {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;

  .linkbar__entry {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  * svg {
    height: 2.5rem;
    fill: darkslategray;
  }
}

/*‾‾‾‾‾‾‾‾‾‾‾‾‾*/
/*  /projects  */
/*_____________*/

main.projects {
  img {
    width: 20rem;
    max-width: 75vw;
    margin-top: 1.5rem;
  }
  h2 {
    margin-bottom: 0;
  }
  h2 + p {
    text-align: center;
  }
}

/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/
/*  /slides & /posts  */
/*____________________*/

main.slides,
main.posts {
  margin-top: 1rem;
  gap: 1rem;

  p {
    text-align: center;
  }

  a {
    background: lightcyan;
    border-radius: 2rem;
    padding: 1rem;
    max-width: 100%;
  }
}

/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/
/*  /slides/<post>  */
/*__________________*/

.remark-slide-content {
  font-family: charter;
  vertical-align: middle;

  p,
  ol,
  ul,
  blockquote,
  li {
    line-height: 1.5;
    text-align: left;
    width: unset;
  }

  img {
    max-width: 100%;
    max-height: 28em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  figcaption,
  img > * {
    text-align: center;
    width: initial;
    max-width: initial;
  }
}

/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/
/*  /posts/<post>  */
/*_________________*/

main.post {
  h2 {
    border-bottom: solid;
    padding-bottom: 0.5rem;
  }
  img {
    width: 50rem;
    object-fit: contain;
  }
  img.excalidrawPNG,
  img.mermaidPNG {
    zoom: 0.5;
    width: initial;
    max-width: 170vw;
    max-height: 170vh;
  }
}

/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/
/*  Miscelaneous  */
/*________________*/

.scrollBuffer {
  /* Doesn't seem to work? */
  margin-left: calc(100vw - 100%); /* prevent scrollbar related jumping */
}

.smallText {
  font-size: 0.8rem;
}

.noTopMargin {
  margin-top: 0;
}

.noBottomMargin {
  margin-bottom: 0;
}

.textAlignCenter {
  display: block; /* ! */
  text-align: center;
}
