/* Not 100% sure it's worth it... Fira is pretty though*/
/* Try this perhaps?  https://git.occrp.org/libre/fonts-degooglifier/tree/master */

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans-Thin.woff') format('woff');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
