/* ABOUT
 * I'm new to CSS, advice welcome! I'm trying to write this CSS 
 * 'mobile-first' with the default CSS being for mobile users (navbar at
 * bottom of screen for easier navigation) and '@media' queries at the 
 * end to modify CSS for larger devices (navbar at top.) It's 
 * 'top-to-bottom' from the perspective of the html (2019-02-05) */
 
/* NOTES TO SELF
 * Use external stylesheets
 *   Don't use inline styling
 *   Don't use internal styling
 * Style using classes
 *   Don't style tags ('elements')
 *   Don't style IDs
 * Don't use `!important`
 * Mobile first
 * Be BEMy http://getbem.com/
 *   Block     independent entity  .block          
 *   Element   dependent entity    .block__element 
 *   Modifier  entity modifier     .block--modifier
 * Margins collapse vertically
 *   Borders and padding don't.
 * 
 * http://learnlayout.com
 * http://paulcpederson.com/articles/css-for-people-who-hate-css/
 * "Classes for styles, tags for semantics, IDs for references." https://codeburst.io/how-to-write-css-when-you-hate-css-feb5a235b7f1 
 */   
 
/* QUESTIONS
 * - can I reduce the number of classes I use? (esp. `.no-top-margin` and the whole navbar thing...) ['CSS-golf']
 * - can I use 'css-variables' natively with support? (e.g. `navbar-height`)
 * -
 */

/* fonts (Fira Sans, its derivatives and Libre Baskerville) were served from google with:
 * 
 *  @import url('https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Condensed|Fira+Sans+Extra+Condensed|Libre+Baskerville');
 * 
 * but I've disabled this as I'd rather self-host. 2019-02-05 looks like Firefox now has fira inbuilt... what coverage is there?
 */
 
/* MOBILE

/* make all box-sizes include respective paddings and borders, but also 
 * allow inheritance 
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1600 - 320)));
    /* font-size: calc([min size] + ([max size] - [min size]) * ((100vw - [min viewport width]) / ([max viewport width] - [min viewport width])));
     * https://css-tricks.com/snippets/css/fluid-typography/  */
  color: darkslategray;
  font-family: Serif;
  line-height: 1.5;
}

body { 
  display: flex;
  flex-direction: row; /* items 'flex' from the left to right */
  justify-content: center; /* horizontally center items contained in the `body` flexbox */
  align-items: center; /* what does this do? */
  background-color: whitesmoke;
}

/* radio `input` buttons used with 'checkbox hack' to create JS-free nav bar, buttons hidden from view */
input {
  display: none;
}

/* style nav bar */
.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;       /* turn navbar into flex for easy centering ... */
  flex-direction: row; /* ... flow items left to right ... */
  align-items: center; /* ... and vertically center contained items */
  justify-content: center;
  border-top: 0.25rem solid teal;
  border-bottom: 0.25rem solid teal;
  background-color: teal;
}

/* style unpressed nav-buttons */
.nav-button {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.1;
  padding: 0.5rem;
  background-color: teal;
  color: whitesmoke;
  cursor: pointer;
  font-family: 'Fira Sans Condensed';
}

/* scrolling button container */
.button-shuttle {
  height: 100%;
  display: flex; 
  align-items: center;  
  overflow: auto; /* add scrollbar if content exceeds container, else not */
  font-size: 0; /* remove white space nodes between nav-buttons */
  white-space: nowrap; /* prevent items (buttons) from wrapping */
  padding-right: 1.5rem;
}

/* style pressed nav-buttons
 * select element with id 'x-button' which is a child of a sibling to a checked element with id 'x-radio' */
#base-radio:checked    ~ * #base-button, 
#about-radio:checked   ~ * #about-button,
#work-radio:checked    ~ * #work-button,
#blog-radio:checked    ~ * #blog-button,
#connect-radio:checked ~ * #connect-button,
#support-radio:checked ~ * #support-button {
  background-image: linear-gradient(teal, whitesmoke 10%, whitesmoke 90%, teal);
  color: darkslategray;
  cursor: default;
}

.mainProfilePic {
  display: block;
  margin: auto;
  max-width: 50%;
  border-radius: 50%;
  border: 5px solid teal;
}

.projectsImg {
  display: block;
  margin: auto;
  max-width:50%
}

.nav-spacer {
  height: 100%;
  background-image: linear-gradient(to bottom, teal, darkturquoise, teal);
  padding: 0.125rem; /* maintains width of 0.25rem... hacky flexy */
}
  
.shadow-padding {
  padding: 0.75rem; /* maintains width of 1.50rem. see .right-shadowing */
}
  
/* fade effect to right of button-shuttle */
.right-shadowing {
  position: absolute; /* fixed position relative to last positioned ancestor (.nav-bar) Overlaps buttons/spacers */
  top: 0;
  right: 0;
  bottom: 0;
  width: 1.5rem; /* see .shadow-padding */
  background-image: linear-gradient(to left, teal, transparent);
}

.content {
  width: 100%;
  max-width: 50ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem 5rem 1rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

/* hide pages initially
 * select all elements with class ending 'page' */
*[class$="page"] {
  display: none;
}

/* display page when respective button checked 
 * select elements with class 'x-page' which are siblings of checked elements with id 'x-button' */
#base-radio:checked         ~ * .base-page,
#about-radio:checked        ~ * .about-page,
#projects-radio:checked     ~ * .projects-page,
#blog-radio:checked         ~ * .blog-page,
#connect-radio:checked      ~ * .connect-page,
#support-radio:checked      ~ * .support-page {
  display: block;
}

.contact-bar {
  width: 100%;
  height: 4rem;
  display: flex;       /* turn contactbar into flex for easy centering ... */
  flex-direction: row; /* ... flow items left to right ... */
  align-items: center; /* ... and vertically center contained items */
  justify-content: center;
}

.contact-entry {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.contact-entry * {
  color: darkslategray;
  font-family: 'Fira Sans Condensed';
  font-size: 1.25rem;
  line-height: 1.1;
  margin-bottom: 0;
}

.no-underline {
  text-decoration: none;
}

.small-mono {
  font-family: mono;
  font-size: 1rem;
}

.icon {
  height: 2rem;
  fill: darkslategray;
  margin-left: 0.5rem;
}

.tech-icon {
  height: 1rem;
  fill: darkslategray;
}

.contact-entry:hover * {
  color: darkturquoise;
  fill: darkturquoise;
}


/* DESKTOP
 * Media queries for for tweaking tweaks for tablets/laptops/desktops */
@media only screen and (min-width: 530px) {
  .nav-bar {
    top: 0; /* move nav-bar to bottom of screen */
    padding: 0; /* remove side paddings for proper centering */
    height: 2.75rem;
  }
  /* eliminate jumping by calculating desktop scrollbar width and adding to left side */
  .desktop-scrollbar-buffer {
    width:calc(100vw - 100%);
    height: 100%;
  }
  /* since all buttons exposed, no need to show scroll end */
  .button-shuttle {
    padding-right: 0rem;
    height: 100%;
  }
  /* since all buttons exposed, no need to hint */
  .right-shadowing {
    display: none;
  }
  .content {
    padding: 2.75rem 0.5rem 0.5rem 0.5rem;
  }
  label:hover {
  background-image: linear-gradient(teal, whitesmoke 10%, whitesmoke 90%, teal);
    color: darkslategray;
  }
  label:active {
  background-image: linear-gradient(teal, whitesmoke 10%, whitesmoke 90%, teal);
    color: darkslategray;
  }
}
