/**********/
/* GLOBAL */
/**********/

/* make all box-sizes include respective paddings and borders, but also but allow inheritance 
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* 'Fluid typography' → https://css-tricks.com/snippets/css/fluid-typography/
 * font-size: calc([min size] + ([max size] - [min size]) * ((100vw - [min viewport width]) / ([max viewport width] - [min viewport width]))) */
html {
  font-size: calc(16px + 4.5 * ((100vw - 320px) / 1200));
}

/* other global defaults */
html {
  color: darkslategray; /* because who likes black? */
  background-color: whitesmoke; /* ... or white? */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Ubuntu, roboto, noto, helvetica, arial, sans-serif; /* stack from https://systemfontstack.com/ with helvetica moved down the stack */
}

/*************/
/* ELEMENTAL */
/*************/

body {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 530px) {
  body {
    flex-direction: row;
  }
}

p, li {
  line-height: 1.48;
}

a {
  color: darkslategray;
  cursor: pointer;
}

a:hover, a:active {
  color: darkturquoise;
}

/* inline code, from markdown `code` */
code {
  padding: 0 0.15rem 0 0.15rem;
  border-radius: 0.25rem;
  background: lightgray;
  color: black;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

/* block code, from markdown ``` construction */
pre code {
  display: inline-block;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: black;
  color: white;
  overflow-wrap: anywhere;  
  white-space: pre-wrap;
}

code.language-bash::before {
  content: "$ ";
  background: none;  
  color: gray;
}

video {
  border: teal 2px solid;
  border-radius: 0.25rem;
}

@media only screen and (min-width: 530px) {
  video {
    align-self: center;
    width: 75vw;
  }
}

/**********/
/* CLASSY */
/**********/

.nav {
  position: fixed; /* need to used fixed until stuff sorted out https://mind-bending-forks.github.io/css-viewport-percentage-length-units/ */
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  order: 1;
  overflow: auto;  
  width: 100%;
  background: teal;
  box-shadow: 0 -0.25rem 0.5rem gray;
}

@media only screen and (min-width: 530px) {
  .nav {
    position: sticky;
    top: 3rem;    
    flex-direction: column;
    order: 0;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    border-right: teal solid 0.25rem;
    border-top: initial;
    margin-left: calc(100vw - 100%); /* to prevent scrollbar related jumping */
    background: initial;
    box-shadow: initial;
  }
}

  .nav__tab /* i.e. unpressed */ {
    padding: 0.25rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: whitesmoke;
  }
  
  @media only screen and (min-width: 530px) {
    .nav__tab {
      color: darkslategray;
    }
  }

  .nav__tab--current, 
  .nav__tab:hover, 
  .nav__tab:active {
    font-weight: bold;
  }

/* the outermost 'frame' */
.page {
  display: flex;
  flex-direction: column;
  width: 30rem;
  max-width: 100%;
  padding: 0 1rem 3rem 1rem;
  margin: auto;
}

.page__side {
  width: 100%;
  min-width: min-content; /* to not let nav overflow off page */
  flex-shrink: 100;
}

.page--post {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif; 
}

/* remove margin from top page content */
.page > :first-child {
  margin-top: 1rem; /* initial content alignment with nav */
}

@media only screen and (min-width: 530px) {
  .page > :first-child {
    margin-top: 3rem; /* initial content alignment with nav */
  }
}

.page * {
    margin-top: 0; /* remove top margins, because margin collapsing no worky in flex */
    max-width: 100% /* prevent images from overflowing */
}

.linkbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.linkbar__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem 1rem 0.5rem;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 0.75;
}
  
.linkbar__entry--site {
  flex-direction: row;
  align-items: center;
}
  
.linkbar * svg {
  height: 3rem;
  margin: 0 0.25rem 0.25rem 0.25rem;
  fill: darkslategray;
}

.linkbar--site * svg {
  height: 1rem;
}
  
.image {
  width: 50%;
  align-self: center;
  margin-bottom: 1rem;
}

  .image--profilePic {
    max-width: 12.5rem;
    border: 5px solid teal;
    border-radius: 50%;
  }

.entryBox {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  .entryBox--posts {
    margin: 0 0 1rem 0;
  }  

  .entryBox__title {
    margin: 0px 0px 10px 0px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .entryBox__subtitle {
    margin: 0;
    font-size: 1.1rem;
    font-weight: lighter;
  }

.backButton {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-image: radial-gradient(whitesmoke 50%, transparent 65%)
}

.backButton .svg-inline--fa {
  height: 60%;
}
