/* ABOUT
 * I'm new to CSS, advice welcome! I'm trying to write this CSS 
 * 'mobile-first' with the default CSS being for mobile users (navbar at
 * bottom of screen for easier navigation) and '@media' queries at the 
 * end to modify CSS for larger devices (navbar at top.) (2019-02-05) */
 
/* NOTES TO SELF
 * Use external stylesheets
 *   Don't use inline styling
 *   Don't use internal styling
 * Style using classes
 *   Don't style tags ('elements')
 *   Don't style IDs
 * Don't use `!important`
 * Mobile first
 * Be BEMy http://getbem.com/
 *   Block     independent entity  .block          
 *   Element   dependent entity    .block__element 
 *   Modifier  entity modifier     .block--modifier
 * Margins collapse vertically
 *   Borders and padding don't.
 * 'max-width' shrinks, 'width' adds scrollbar
 * "Percent is a measurement unit relative to the containing block."
 * Initial setting for `display: flex;`
 *   flex-direction: row;
 *   flex-wrap: nowrap;
 *   justify-content: flex-start;
 *   align-content: stretch;
 * 
 * http://learnlayout.com
 * http://paulcpederson.com/articles/css-for-people-who-hate-css/
 * "Classes for styles, tags for semantics, IDs for references." https://codeburst.io/how-to-write-css-when-you-hate-css-feb5a235b7f1 
 */   
 
/* QUESTIONS
 * - can I use 'css-variables' natively with support? (e.g. `navbar-height`)
 * - global selector: * vs html vs body
 */


.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  border-top: 0.25rem solid teal;
  border-bottom: 0.25rem solid teal;
  border-left: 0.25rem solid teal;
  background-color: teal;
}

@media only screen and (min-width: 530px) {
  .navbar {
    top: 0;                   /* move navbar to top of screen */
    bottom: initial;          /* reset to prevent navbar filling screen! */
    justify-content: center;  /* IMPROVE. perhaps nicer to have aligned with content */
  }
  
  .desktopScrollbarBuffer {
    width: calc(100vw - 100%); /* eliminate jumping by calculating desktop scrollbar width and adding to left side */
    height: 100%;
  }
}

  .navbar__spacer {
    background-image: linear-gradient(to bottom, teal, darkturquoise, teal);
    width: 0.25rem;
    flex-shrink: 0; /* to prevent it shrinking to nothing */
  }

  .navbar__button /* i.e. unpressed */ { 
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: teal;
    color: whitesmoke;
    cursor: pointer;
    font-family: 'FiraSans', Sans;
  }

  /* scrolling button container */
  .navbar__buttonShuttle {
    display: flex; 
    overflow: auto; /* add scrollbar if content exceeds container */
  }

  /* fade effect to right of navbar to hint options if scrolled  */
  .navbar__fader {
    position: absolute; /* fixed position relative to last positioned ancestor (.navbar) Layered above buttons/spacers */
    right: 0;
    bottom: 0;
    height: 100%;
    width: 1.5rem;
    background-image: linear-gradient(to left, teal, transparent);
  }

  /* 'empty button' gives definite end to the 'fader' to assure users they're not missing options */
  .navbar__ender {
    width: 1.5rem;
    flex-shrink: 0;
  }



