<!-- navigation bar -->

<div class="nav">
  <a href="/"          class="nav__tab {{dougTab}}">      Doug </a>
  <a href="/projects"  class="nav__tab {{projectsTab}}">  Projects </a>
  <a href="/posts"     class="nav__tab {{postsTab}}">     Posts </a>
  <a href="/support"   class="nav__tab {{supportTab}}">   Support </a>
</div>
