<!-- navigation bar -->

<div class="nav">
  <div class="desktopScrollbarBuffer"></div>
  <div class="nav__tabShuttle">
    <a href="/"          class="nav__tab {{dougTab}}">      Doug </a>
    <a href="/projects"  class="nav__tab {{projectsTab}}">  Projects </a>
    <a href="/posts"     class="nav__tab {{postsTab}}">     Posts </a>
    <a href="/support"   class="nav__tab {{supportTab}}">   Support </a>
    <div class="nav__fader"></div>
    <div class="nav__ender"></div>
  </div>
</div>
