<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Doug Webb</title>
    <link rel="stylesheet" href="/assets/fonts.css">
    <link rel="stylesheet" href="/assets/normalize_v8.0.0.css"> <!-- https://necolas.github.io/normalize.css/ -->
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/shame.css"> <!-- https://csswizardry.com/2013/04/shame-css/ -->
    <link rel="shortcut icon" type="image/png" href="/assets/img/icons/favicon-256.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Set device width as page width, set initial zoom. -->
  </head>
  <body>
    {% include "layouts/_nav.njk" %}
    
    <div class="page">
      <div class="page__content">
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
