<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Doug Webb</title>
    <link rel="stylesheet" href="/assets/sanitize_12.0.1.css"> <!-- https://github.com/csstools/sanitize.css -->
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/icons/favicon-256.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Set device width as page width, set initial zoom. -->
  </head>
  <body>
    <div class="page__side scrollBuffer">
      {% include "layouts/_nav.njk" %}
    </div>
    <div class="page">
      {% block main %}
      {% endblock %}
    </div>
    <div class="page__side"></div>
  </body>
</html>
