<div class="scrollBuffer"></div>
<nav>
    <a href="/" class="nav__tab {{ homeTab }}">
        Home
    </a>
    <a href="/projects" class="nav__tab {{ projectsTab }}">
        Projects
    </a>
    <a href="/slides" class="nav__tab {{ slidesTab }}">
        Slides
    </a>
    <a href="/posts" class="nav__tab {{ postsTab }}">
        Posts
    </a>
</nav>