{% extends "base.njk" %}
{% block main %}
    {% include "nav.njk" %}
    <main class="post">
        <div class="scrollBuffer"></div>
        <article class="serif">
            {% block body %}
                <h1 class="noBottomMargin">{{ title }}</h1>
                <p class="textAlignCenter noBottomMargin">
                    <time>{{ date }}</time>
                    {% if version %}
                        — Version {{ version }}
                    {% endif %}
                </p>
                {{ contents | safe }}
            {% endblock %}
        </article>
    </main>
{% endblock %}