{% extends "base.njk" %}
{% block main %}
  {% include "nav.njk" %}
  <main class="slide">
    <textarea id="source">
      {% block body %}
        {{ contents | safe }}
      {% endblock %}
    </textarea>
  </main>
  <script src="/assets/js/remark-latest.min.js"></script>
  <script type="text/javascript">
    var slideshow = remark.create();
  </script>
{% endblock %}