---
postsTab: "nav__tab--current"
---

{% extends "./layouts/base.njk" %}

{% block main %}

  {% for post in posts %}
  <a href="{{ post.paths.dhref }}">
    <div class="entryBox entryBox--posts">
      <h1 class="entryBox__title">{{ post.title }}</h1>
      <p class="entryBox__subtitle">{{ post.date }} — {{ post.wordCount }} words, ~{{ post.readingTime }}</p>
    </div>
  </a>
  {% endfor %}

{% endblock %}
