---
postsTab: "nav__tab--current"
---

{% extends "base.njk" %}
{% block main %}
  {% include "nav.njk" %}
  <main class="posts">
    {% for post in posts %}
      <a href="{{ post.paths.dhref }}">
        <h2 class="noBottomMargin noTopMargin">{{ post.title }}</h2>
        <p class="noTopMargin">
          <time>{{ post.date }}</time>
          — ~{{ (post.wordCount / 100) | round * 100 }} words, ~{{ post.readingTime }}</p>
      </a>
    {% endfor %}
  </main>
{% endblock %}