<!DOCTYPE html>
<html lang="en">
<head>
  <title>404</title>
  <link rel="shortcut icon" type="image/png" href="img/favicon-256.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
    h1, p {
      font-family: mono;
      max-width: 50vw;
    }
  </style>
</head>
<body>
  <div>
    <h1>404 - page not found</h1>
    <p>Oh dear, sorry about this :(</p>
    <p>I hope you find what you're looking for at <a href="https://www.dougwebb.site/">dougwebb.site</a></p>
    <p>If you think that there's a mistake on my part, please let me know.</p>
    <p>Cheers, Doug.</p>
  </div>
</body>
</html>
  


